%fullblock {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

%default-block {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3.8rem;
    margin-top: 3.8rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
