%fullblock {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

%default-block {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// .entry-content {
//   p {
//     text-align: justify;
//   }
// }
