ul,
ol {
  list-style: none;
  margin-bottom: 1.5rem;

  li {
    line-height: calc(32 / 16);
    color: $black-1;

    &::before {
      margin-right: 0.75rem;
    }
  }
}

ul {
  li {
    &::before {
      width: 6px;
      height: 6px;
      background-color: $purple-2;
      border-radius: 50%;
      content: "";
      display: inline-block;
    }
  }
}

ol {
  counter-reset: section;

  li {
    counter-increment: section;

    &::before {
      font-family: $font-mark-pro;
      font-size: 14 / 16 + rem;
      line-height: calc(18 / 16);
      color: $purple-2;
      content: counter(section) ".";
    }
  }
}
