.contact-block {
  @extend %default-block;
  @extend %fullblock;

  &__wrapper {
    position: relative;
    background-color: $gray-8;
  }

  &__background {
    min-height: 300px;
    color: $white;
    background: cover $purple-2 center right;

    @include media-breakpoint-up(sm) {
      height: 600px;
      background: transparent;
    }

    &-sm-visible {
      @include media-breakpoint-up(sm) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 43%;
        background: cover $purple-2 center right;
      }
    }

    &-info {
      padding: 3rem 0;

      @include media-breakpoint-up(sm) {
        padding-top: 5rem;
        max-width: 350px;
      }
    }

    &-content {
      font-size: 18 / 16 + rem;
      line-height: calc(28 / 18);
      letter-spacing: 0.7px;
      margin-bottom: 2rem;

      @include media-breakpoint-up(sm) {
        font-size: 22 / 16 + rem;
        line-height: calc(28 / 22);
        letter-spacing: 0.9px;
      }
    }

    &-phone {
      letter-spacing: 0.6px;

      a {
        color: $white;
      }
    }

    &-address {
      letter-spacing: 0.6px;
    }
  }

  .gform {
    &_heading {
      display: none;
    }

    &_wrapper {
      padding: 1.9rem 0;
      margin-bottom: 0;

      @include media-breakpoint-up(sm) {
        padding: 4.7rem 1rem 1.9rem;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
