.gform {
  &_fields {
    padding: 0;
  }

  &_title {
    margin-bottom: 1.5rem;
  }

  &_validation_container {
    display: none;
  }

  &_footer {
    @extend %btn;

    background: $yellow;
  }

  &_wrapper {
    margin-bottom: 3.8rem;

    .upload-file {
      label {
        font-family: $font-mark-pro;
        font-size: 11 / 16 + rem;
        line-height: calc(33 / 11);
        text-transform: uppercase;
        color: $purple;
        border: 2px solid $purple-2;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 0 1rem;
        margin: 0;
      }
    }

    .gform_fileupload_rules {
      display: none;
    }

    .button {
      font-family: $font-mark-pro;
      padding: 0.7rem 2.2rem;
      font-size: 13 / 16 + rem;
      line-height: calc(24 / 13);
      border: 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      background: transparent;
      color: $black-1;

      &:hover {
        color: $white;
      }

      &:focus {
        outline: none;
      }
    }

    .gfield {
      margin-bottom: 0.5rem;

      &::before {
        display: none;
      }

      li {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      &_description {
        padding: 0.3rem 0;
        font-size: 11 / 16 + rem;
      }

      &_radio {
        padding: 0;
      }

      &_error {
        .gchoice {
          label {
            color: $red;
          }
        }

        input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
          border-color: $red;

          &::placeholder {
            color: $red;
          }
        }
      }

      &.hidden_label {
        .gfield_label {
          display: none;
        }
      }

      &_select {
        padding: 1rem 0;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        width: 100%;
        font-size: 14 / 16 + rem;
        line-height: calc(38 / 14);
        letter-spacing: normal;
        color: $gray-16;
        display: none;

        &:focus {
          border-color: $purple-2;
        }

        option[value=""] {
          display: none;
        }

        option {
          color: $black-1;
          padding: 3rem 0;
        }
      }
    }
  }

  &_validation {
    &_errors {
      display: none;
    }
  }
}

.validation {
  &_message {
    color: $red;
    font-size: 11 / 16 + rem;
    line-height: calc(14 / 11);
  }
}
