input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid $black-1;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
textarea {
  width: 100%;
  font-size: 14 / 16 + rem;
  line-height: calc(30 / 14);
  letter-spacing: normal;
  color: $black-2;
  background: transparent;

  &::placeholder {
    color: $gray-16;
  }

  &:focus {
    outline: none;
    border: 0;
    border-bottom: 2px solid $purple-2;
  }
}

.gfield {
  &_error {
    .gfield_label,
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
    select,
    textarea {
      color: $red;
      border-color: $red;

      &::placeholder {
        color: $red;
      }
    }

    input[type=checkbox],
    input[type=radio] {
      + label {
        color: $red;
      }
    }
  }
}
