blockquote {
  border-left: 5px solid $purple-2;
  padding: 0 2rem;

  p {
    font-size: 24 / 16 + rem;
    line-height: calc(36 / 24);
    color: $black-2;
    margin-bottom: 0.1rem;
  }

  cite {
    font-style: normal;
    line-height: calc(28 / 16);
    color: $gray-14;
  }
}
