.select2 {
  &-container {
    .select2-selection--single {
      height: auto;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $black-2;

      &:focus,
      &:hover {
        border-bottom: 2px solid $purple-2;
      }

      .select2-selection__rendered {
        padding: 1rem 0;
        font-size: 14 / 16 + rem;
        color: $gray-16;
      }

      .select2-selection__arrow {
        height: 0;
        width: 11px;
        right: 0;
        top: 50%;
        transform: translateX(-50%);

        b {
          background-image: url("../images/arrow-down-black.svg") no-repeat;
          width: 11px;
          height: 6px;
          border: 0;
        }
      }
    }

    &--open {
      .select2-selection--single .select2-selection__arrow b {
        background-image: url(../images/arrow-up-black.svg);
      }
    }

    &.select2-container--open {
      .select2-dropdown {
        border: 0;
        border-radius: 0;
      }
    }

    .select2-results {
      &__options {
        background-color: $white;
        box-shadow: 0 2px 8px 0 rgba($black, 0.14);
      }

      &__option {
        padding-left: 1rem;
        font-size: 14 / 16 + rem;
        line-height: calc(38 / 14);

        &[aria-selected=true] {
          background-color: $gray-6;
          color: $purple-2;
        }

        &::before {
          display: none;
        }
      }
    }
  }

  &-selection {
    outline: none;
  }
}
