.social-share {
  margin: 1.8rem 0 2.7rem;

  &__label {
    font-family: $font-mark-pro;
    font-size: 13 / 16 + rem;
    line-height: calc(26 / 13);
    color: $purple-2;
  }

  &__link {
    width: 36px;
    height: 36px;
    color: $white;
    border-radius: 50%;
    margin-left: 1rem;
    line-height: calc(37 / 16);
    background-color: $purple-2;
    transition: background-color 0.3s;

    &:hover {
      color: $white;
      background-color: $link-hover-color;
    }
  }
}
