.social-share {
  margin: 2.8rem 0;

  &__label {
    font-family: $font-mark-pro;
    font-size: 13 / 16 + rem;
    line-height: calc(26 / 13);
    color: $purple-2;
  }

  &__link {
    width: 35px;
    height: 35px;
    line-height: 2.3rem;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: $purple-2;
    color: $white;
    transition: background-color 0.3s;

    &:hover {
      color: $white;
      background-color: $link-hover-color;
    }
  }
}
