@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


#nav,#backtoblog{display:none}
#login {width: 306px;}
.login .message {display: none;}
.login form {padding: 24px 30px 30px; box-shadow: 0 0 32px 0 rgba(0,0,0,0.7);}
.login label {color: #262626; font-family: Lato,sans-serif;; font-size: 14px; font-weight: 500; line-height: 17px;}
.login form .input,
.login input[type=text] {
  padding: 10px 11px 11px;
  margin: 6px 0 10px;
  color: #262626;
  font-family: Lato,sans-serif;;
  font-size: 18px;
  font-weight: 500;
  border-color: #dedede;
  box-shadow: none;
  background: transparent !important;
}
.login form .input:focus, .login input[type=text]:focus {box-shadow: none; border-color: #00B9C4;}
.login form .forgetmenot {float: none; margin-top: 4px;}
.login .button-primary {
  float: none;
  width: 100%;
  border: 2px solid #262626;
  background-color: #fff;
  color: #262626;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1.17px;
  padding: 8px 12px 7px !important;
  height: auto !important;
  border-radius: 0;
  transition: all .2s ease-in-out;
}
.login .button-primary:hover,
.login .button-primary:active,
.login .button-primary:focus {
  background: #3cbead;
  border: 2px solid #3cbead;
  color: #fff;
  box-shadow: none;
  transform: none;
}
.login form .forgetmenot label {
  color: #7F7F7F;
  font-family: Lato,sans-serif;;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.login form input[type=checkbox] {width: 18px; height: 18px;}
.login form input[type=checkbox]:checked {background-color: #0082C3; border-color: #0082C3; box-shadow: none;}
.login form input[type=checkbox]:checked:before {color: #fff; margin: -2px 0 0 -3px;}
#login form p.submit {text-align: center; margin-top: 20px;}
.custom-footer-link {text-align: center; margin: 43px 0;}
.custom-footer-link li {display: inline-block; vertical-align: top; border-right: 1px solid #fff;}
.custom-footer-link li:last-child {border-right: 0;}
.custom-footer-link li a {font-size: 11px;color: #fff; text-decoration: none;letter-spacing: 1px; line-height: 14px;text-transform: uppercase; padding: 1px 20px 2px;}
.custom-footer-link li a:focus {box-shadow: none;}
.custom-footer-link li a:hover {text-decoration: underline;}
.login h1 a {
  background-image: url('../images/login-logo-white.svg');
  background-size: 198px auto !important;
  width: 200px;
  height: 84px;
  margin-bottom: 41px;
}
body.login {
  background:url('../images/login-bg.jpg') no-repeat fixed center center / cover rgba(0, 0, 0, 0) !important;
}
.login #backtoblog a, .login #nav a{
  color:white !important;
}
